.comments {
  width: 800px;
  margin: 50px auto 0;
  background-color: #ffffff;
  padding-bottom: 20px;
}

.comment-form {
  width: 100%;
  margin: 0 auto;
}

.comment-input {
  width: 100%;
  resize: none;
}

.comment-btn-wrapper {
  width: 100%;
  text-align: end;
  margin: 10px 0 30px;
}

.comment-btn {
  font-size: 16px;
  background-color: black;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow:  2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.comments-show-wrapper {
  margin: 0 20px;
}

.amount-of-comments {
  display: flex;
  justify-content: start;
  padding: 20px 0;
  font-size: 20px;
  font-weight: bold;
}

.comment-content-wrapper {
  margin-bottom: 16px;
}

.comment-user {
  text-decoration: none;
  color: #00BFFF;
  cursor: pointer;
}

.comment-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.comment-text-wrapper {
  width: 80%;
}

.comment-text {
  margin-left: 16px;
  word-wrap: break-word;
}

.comment-user {
  display: inline-block;
}

.comment-user>a {
  display: flex;
  align-items: center;
}

.comment-user-image>img,.comment-default-image>img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.comment-delete-wrapper {
  width: 70px;
  height: 30px;
  background-color: #dc143c;
  border-radius: 30px;
  padding: 5px;
  text-align: center;
  box-shadow:  2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.comment-delete-btn {
  text-decoration: none;
  color: #ffffff;
}

#more-comments-wrapper {
  margin-top: 30px;
}

#more-comments {
  text-decoration: none;
  color: #ff8c00;
}

@media screen and (max-width: 959px) {
  .comments {
    width: 500px;
  }
}

@media screen and (max-width: 559px) {
  .comments {
    width: 300px;
  }

  .comment-btn {
    font-size: 14px;
    padding: 10px 20px;
  }

  .comment-text {
    font-size: 12px;
  }

  .comment-user>a {
    font-size: 14px;
  }

  .comment-user-image>img,.comment-default-image>img {
    width: 40px;
    height: 40px;
  }
}
