<div class="comment-content-wrapper" id="comment-<%= comment.id %>">
  <p class="comment-content" id="comment-content-id">
    <strong><%= link_to comment.user.nickname, user_path(comment.user.id), class:"comment-user" %>：</strong>
    <%= comment.content %>
  </p>
  <%= link_to "削除", comment_path(comment), method: :delete, data: { confirm: "コメントを完全に削除してもよろしいですか？" }, remote: true %>
</div>