.top-page-header {
  padding: 20px;
  background-color: #000000;
  width: 100%;
  min-width: 768px;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-logo-wrapper {
  width: 35%;
  text-align: center;
  margin: 0 auto;
}

.header-logo {
  color: #ffffff;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-decoration: none;
}

.header-logo h1 {
font-size: 30px;
}

.menu-wrapper {
  display: block;
  height: 28px;
  width: 28px;
  position: fixed;
  top: 21px;
  left: 21px;
  cursor: pointer;
}

.menu-wrapper>div {
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .2s;
}

.menu-wrapper>div:nth-of-type(1) {
  transform: translate(-50%, -10px);
}

.menu-wrapper>div:nth-of-type(3) {
  transform: translate(-50%, 10px);
}

.menu-wrapper.active>div:nth-of-type(1) {
  transform: rotate(45deg) translate(-50%, 0);
  transform-origin: 0% 50%;
}

.menu-wrapper.active>div:nth-of-type(2) {
  opacity: 0;
}

.menu-wrapper.active>div:nth-of-type(3) {
  transform: rotate(-45deg) translate(-50%, 0);
  transform-origin: 0% 50%;
}

.nav-menu {
  width: 0px;
  background-color: #000000;
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: .2s;
}

.open-menu {
  width: 300px;
}

.nav-lists{
  width: 100%;
  font-size: 20px;
  border: 1px solid #ffffff;
}

.nav-lists>a>li{
  min-width: 300px;
  height: 70px;
  border-bottom: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-lists>a {
  text-decoration: none;
  color: #ffffff;
}

#logout {
  border: none;
}

#sign-up {
  border: none;
}

.header-nickname {
  margin-left: 10px;
}

.mypage-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-profile-image>img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.header-default-image>img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ffffff;
}
