.top-page-header {
  padding: 20px;
  background-color: black;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logo-wrapper {
  margin-left: 30px;
}

.header-logo {
  color: #ffffff;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-decoration: none;
}

.header-logo h1 {
font-size: 30px;
}

.nav-lists{
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  font-size: 20px;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: #ffffff;
}

.sign-up {
  text-decoration: none;
  color: #ffffff;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #ffffff;
}

.logout {
  text-decoration: none;
  color: #ffffff;
}

.review-btn {
  text-decoration: none;
  margin-right: 3vw;
  color: #ffffff;
}

.menu-icon {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
}