<div class="like-btn-content">
  <p class="like-btn" id="like-btn" data-id=<%= @review.id %> data-likes-count=<%= @review.likes_count %>>
    <i class="fas fa-thumbs-up like-notclick" id="like-icon" ></i> いいね！
  </p>
  <span class="like-count">
    <%= @like_count.length %>
  </span>
</div>