// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main {
  width: 100vw;
}

.top-img{
  width: 100vw;}

  .footer {
    background-color: black;
    text-align: center;
    height: 60px;
  }
  
  .footer p {
    color: #ffffff;
    font-size: 20px;
    padding: 15px 0;
  }