.main {
  width: 100%;
  background-color: #dbdada;
  min-width: 800px;
  display: flex;
}

.main-wrapper {
  margin: 0 ;
  background-color: #ffffff;
  min-width: 500px;
}

.top-img {
  width: 100%;
}


.review-lists-title {
  text-align: center;
  margin: 30px 0;
}

.new-review-title {
  font-size: 25px;
}

.list {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 20px;
}

.review-show-link {
  text-decoration: none;
}

.review-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.review-img {
  width: 200px;
  height: 200px;
}

.top-review-group {
  display: flex;
  margin: 20px 0;
}

.top-review-name {
  color: black;
  font-size: 20px;
}

.top-review-value {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

/* ここからは検索フォーム */

.search-form {
  padding-right: 20px;
  display: flex;
  align-items: center;
  width: 50vw;
}

.search-form>.search-input {
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.search-form>.search-btn {
  width: 50px;
  height: 50px;
  font-size: 30px;
}

.menu-icon {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
}

