.main {
  width: 100%;
  background-color: #dbdada;
  min-width: 800px;
  display: flex;
  padding: 50px 0;
}

.right-wrapper {
  margin: 0 50px 0 25px;
  background-color: #ffffff;
  min-width: 300px;
  width: 100%;
  height: 100%;
}

.review-lists-title {
  text-align: center;
  margin: 30px 0;
}

.review-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.new-review-title {
  font-size: 25px;
}

.list {
  list-style: none;
  width: calc((100% - 150px) / 3);
  width: 280px;
  height: 280px;
  margin-bottom: 25px;
}

.review-show-link {
  text-decoration: none;
}

.review-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.review-img-content>img {
  object-fit: cover;
  width: 280px;
  height: 280px;
}

.top-review-detail {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  padding: 10px;
}

.top-review-group {
  display: flex;
  margin: 5px 0;
}

.top-review-name {
  color: #ffffff;
  font-size: 12px;
}

.top-review-value {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
}

/* ここからは検索フォーム */

.left-wrapper {
  text-align: center;
  margin: 0 25px 0 50px;
  width: 25vw;
  height: 100%;
}

.search-content {
  background-color: #FFFFFF;
  width: 100%;
  height: 70%;
  min-width: 280px;
  padding: 20px 0;
}

.search-title {
  width: 100%;
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: bold;
}

.search-group {
  width: 45%;
  margin:0 auto 20px;
  text-align: center;
}

.search-input-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.search-input {
  height: 50px;
  width: 80%;
  padding-left: 10px;
}

.search-select-wrapper {
  width: 100%;
  text-align: start;
}

.search-btn {
  width: 50px;
  height: 50px;
  font-size: 30px;
}
