<%= render "shared/header" %>

<div class="delition-completed-wrapper">
  <div class="delition-completed">
    <h2>削除が完了しました</h2>
    <%= link_to root_path, class:"toppage-btn-wrapper" do %>
      <div class="toppage-btn">
        <p>トップページに戻る</p>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>