<%= render "shared/header" %>

<div class="main">

  <%= render "shared/search_form" %>

  <div class="right-wrapper">
    <div class="review-lists-title">
      <h2 class="new-review-title">最新レビュー一覧</h2>
    </div>

    <%= render "shared/reviews" %>

  </div>
</div>
<%= render "shared/footer" %>
